# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# dotenv config
.env

# Logs
logs/
*.log
*.out
*.pid

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Puppeteer Chromium cache (если качается локально)
.cache/
